* {
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
}

body {
    background-color:#000;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #000;
    justify-content: center;
    height: 80px;
}

.navigation__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
}

.navigation__links {
    display: flex;
    font-weight: 600;
    align-items: center;
}

.link__primary {
    color: white;
    padding: 28px 17px;
}

.link__secondary {
    color: #d9dadc;
    padding: 28px 17px;
}

.link__primary:hover, .link__secondary:hover {
    color: #1ed760;
}

.promo {
    display: flex;
    justify-content: center;
    background-color: #993399;
}

.promo__container {
    display: flex;
    width: 100%;
    max-width: 1170px;
    padding: 24px 15px 0;
}

.promo__content {
    margin-right: 32px;
    padding-bottom: 72px;
}

.promo__title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;;
}

.promo__subtitle {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-top: 30px;
    line-height: 1.5;
}

.buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 50px;
    border-radius: 500px;
    margin-right: 5px;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.button1 {
    background-color: #0b0909;
}

.button2 {
    background-color: transparent;
    border: 2px solid white;
}

.buttons:hover, .card__button:hover {
    transform: scale(1.04);
}

.button1:active, .button2:active, .card__button:active {
    outline: 2px solid #0b0909;
    outline-offset: 4px;
    transform: scale(1);
}

.button2:active, .button2:hover{
    background-color: #862d86;
}

.promo__footer {
    max-width: 630px;
    margin-top: 40px;
    font-size: 11px;
    line-height: 1.5;
}

.premium {
    display: flex;  
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
}

.premium ul {
    display: flex;
}

.premium__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    padding: 75px 15px;
    justify-content: center;
}

.premium__content h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 50px;
    letter-spacing: -2px;
}

.premium__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;;
}

.premium__cards h3, p {
    align-items: center;
    padding: 10px 0;
}

.premium__cards img {
    width: 142px;
    height: 142px;
    margin: 0 auto 40px;
}

.abonamente {
    display: flex;
    justify-content: center;
    background-color: #efefef;
    color: #000000;
}

.abonamente__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    padding: 75px 15px;
}

.abonamente__title {
    display: contents;
}

.abonamente__title h2 {
    font-size: 40px;
    letter-spacing: -1.6px; 
    font-weight: bold;
}

.abonamente__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 70px;
}

.abonamente__cards p, .abonamente__cards h2 {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;;
    width: 270px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
}

.card__liststyle {
    padding-top: 20px;
    /* max-height: 250px;
    height: 100%; */
}

.card__list {
    display: flex;
    margin-bottom: 5px;
}

.card__svg {
    margin-right: 10px;
}

.card__list p {
    padding: 0;
    line-height: 22px;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0909;
    /* width: 230px; */
    height: 50px;
    border-radius: 500px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.card__footer {
    color: rgb(83, 83, 83);
    font-size: 12px;
    margin-top: 10px;
}

.card__footer a {
    text-decoration: underline;
}

.card__promo {
    display: flex;
    /* align-self: flex-start; */
    background-color: #0d72ea;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.hr {
    margin-top: 20px;
    border: 1px inset rgb(204, 204, 204);
}

.card h2 {
    margin-top: 10px;
}




/* === Footer === */

footer {

    padding-top: 80px;
    padding-bottom: 50px;
}
.page-maxwidth {
    max-width: 1170px;
    width: 100%;
    
}
.align_center {
    align-items: center;
}
.margin-auto {
    margin: 0 auto;
}
.footer__textstyle {
    color: #919496;
}
.toplinks__layout {
    display: flex;
    justify-content: space-between;
    min-height: 346px;
}
.flex {
    display: flex;
}
.bottomlist__style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0;
    line-height: 1.5;
    padding-left: 40px;
}
.toplinks_titlestyle {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 0;
}
.listitem__style {
    padding-bottom: 20px;
}

.a {
    text-decoration: none;
}
.a:hover {
    color: #1ed760;
}
.a_wh {
    color: white;
}
.a_gr {
    color: #919496;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background-color: #222326;
    border-radius: 50%;
    margin-right: 20px;
}
.img-style {
    width: 24px;
    height: 24px;
    background-color: white;  
}
.img-style:hover {
    background-color: rgb(29, 185, 84);
}
.country {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 10px;
}
.footer__bottomtextstyle {
    font-size: 12px;
}
.flex_spacebetween {
    justify-content: space-between;
}
.gap-30 {
    gap: 30px;
}